<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.esun.esunmobilebank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GoldPassbookActivity" />
        <activity
            android:name=".ChatbotActivity"
            android:label="@string/title_activity_chatbot">
        </activity>
        <activity
            android:name=".CustServiceActivity"
            android:label="@string/title_activity_custservice">
        </activity>

        <activity
            android:name=".TWDInterestRateActivity"
            android:label="@string/title_activity_interstRate">
        </activity>

    </application>

</manifest>